nav > a {
  background-color: rgb(46, 62, 56);
  margin: 0px 50px;
  padding: 60px 50px 20px;
  display: inline-flex;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: all 0.2s;
  color: rgb(212, 255, 239);
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  transform: translateY(-50px);
  position: sticky;
}

nav > a:hover {
  transform: translateY(-40px);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px black;
  box-shadow: 0px 0px 42px rgba(78, 255, 208, 0.251);
}

img {
  width: 300px;
}

nav {
  height: 70px;
}
.auth-menu {
  position: absolute;
  right: 20px;
  top: 1%;
}
.user {
  height: max-content;
  padding: 10px;
  background: rgba(141, 255, 185, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(141, 255, 185, 0.3);
}

a[routerLink] {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

/* ---------------------------------------------- */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  background-color: rgba(255, 255, 255, 0);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

footer {
  position: static;
  margin: auto;

  width: max-content;
  border-top: 1px solid;
}

/* --------------------------------------- */

.to-top {
  bottom: 0;
  cursor: pointer;
  margin: 0 8px 12px 0;
  position: fixed;
  right: 0;
  opacity: 0;
}

.show-scrollTop {
  opacity: 1;
  background: rgba(109, 255, 175, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(109, 255, 145, 0.3);
  transition: all 0.2s ease-in-out;
  padding: 7px;
}
