<div>
  <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/artist/1N6NrGnb6Pyv8lOAM5lUlu?utm_source=generator"
    width="90%"
    height="352"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  <p>
    Hailing from the vibrant underground scene, TRIOT is a three-piece punk rock
    force to be reckoned with. <br />
    Formed in 2016, Ohad Gadassi (vocals/guitar), Ofek Shlinger (bass), and Adar
    Ohayon (drums) channel the electrifying energy of Green Day, the furious
    riffs of Avenged Sevenfold, and the infectious pop-punk hooks of Sum 41.<br />
    With their debut EP, "MTV," already making waves, TRIOT isn't slowing
    down.<br />
    Their self-titled album is on the horizon, primed to unleash a potent
    cocktail of raw energy and anthemic singalongs. <br />Get ready to mosh,
    sing, and rebel – TRIOT is here to ignite the scene
  </p>
</div>
