iframe {
  margin: 20px;
}
div {
  background: rgba(141, 255, 202, 0.203);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(141, 255, 201, 0.3);
  width: 70%;
  margin: 20px auto;
  padding: 0 30px;
  text-align: left;
  line-height: 2;
}
